a{
    color: black;
    font-family: Anaheim;
}
        
a.niceAnchor
{
    display: inline-block;
    overflow: hidden;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    perspective: 400px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
        
a.niceAnchor span
{
    display: block;
    position: relative;
    padding: 0 2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
        
a.roll:hover span,
a.roll.hovered span
{
    -webkit-transform: translate3d( 0px, 0px, -35px ) rotateX( 90deg );
    -moz-transform: translate3d( 0px, 0px, -35px ) rotateX( 90deg );
    transform: translate3d( 0px, 0px, -35px ) rotateX( 90deg );
}

a.moveToLeft:hover span,
a.moveToLeft.hovered span
{
    -webkit-transform: translate3d( -100%, 0px, 0px ) rotateX( 90deg );
    -moz-transform: translate3d(-100%, 0px, 0px ) rotateX( 90deg );
    transform: translate3d( -100%, 0px, 0px ) rotateX( 90deg );
}


a.niceAnchor span.innerSpan
{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    white-space: nowrap;
    color: #fff;
    background: black;
}
      
a.roll span.innerSpan
{
    -webkit-transform: translate3d( 0px, 100%, 0px ) rotateX( -90deg );
    -moz-transform: translate3d( 0px, 100%, 0px ) rotateX( -90deg );
    transform: translate3d( 0px, 100%, 0px ) rotateX( -90deg );
}

a.moveToLeft span.innerSpan
{
    -webkit-transform: translate3d( 100%, 0, 0px ) rotateX( -90deg );
    -moz-transform: translate3d( 0px, 100%, 0px ) rotateX( -90deg );
    transform: translate3d( 0px, 100%, 0px ) rotateX( -90deg );
}